:root {
  transition: all 1.0s ease;
  background-color: var(--theme-color);
}
#quote-box {
  background-color: rgb(255, 255, 255);
  color: var(--theme-color);
  display: table;
  border-radius: 3px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
}

#author-name {
  font-size: 16px;
  text-align: right;
  padding-top: 20px;
  opacity: 1;
  transition: opaciy 1.0s ease-in-out;
  -webkit-transition: opacity 1.0s ease-in-out;
  -moz-transition: opacity 1.0s ease-in-out;
  -ms-transition: opacity 1.0s ease-in-out;
  -o-transition: opacity 1.0s ease-in-out;
}

#author-name.fade {
  opacity: 0;
}

span {
  font-family: Raleway, sans-serif;
  margin-left: 10px;
}

#quote-text {
  font-size: 28px;
  font-family: FontAwesome;
  opacity: 1;
  transition: opacity 1.0s ease-in-out;
  -webkit-transition: opacity 1.0s ease-in-out;
  -moz-transition: opacity 1.0s ease-in-out;
  -ms-transition: opacity 1.0s ease-in-out;
  -o-transition: opacity 1.0s ease-in-out;
}

#quote-text.fade {
  opacity: 0;
}

button {
  transition: all 1.0s ease;
  background-color: var(--theme-color);
}

#new-quote {
  float: right;
  border: none;
  border-radius: 3px;
  height: 38px;
  padding: 8px 18px 6px 18px;
  margin-top: 30px;
  opacity: 1;
  cursor: pointer;
  color: white;
}

#new-quote:hover {
  opacity: 0.8;
  transition:  opacity 0.2s ease;
  display: block;
}

#twitter-button, #tumbler-button {
  border: none;
  border-radius: 3px;
  height: 38px;
  padding-top: 8px;
  margin-top: 30px;
  margin-right: 5px;
  margin-left: 0;
  margin-bottom: 0;
  width: 40px;
  opacity: 1;
  cursor: pointer;
  text-decoration-thickness: auto;
  color: white;
  font-family: FontAwesome;
  display: inline-block;
  font-stretch: 100%;
  vertical-align: baseline;
  text-align: center;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 19.2px;
  font-size: 19.2px;
  font-variant-numeric: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
}

#twitter-button{
  float: left;
  margin-right: 10px;
}

#twitter-button:hover {
  opacity: 0.8;
  transition:  opacity 0.2s ease;
  display: block;
}

#tumbler-button {
  float: left;
}

#tumbler-button:hover{
  opacity: 0.8;
  transition:  opacity 0.2s ease;
  display: block;
}

i {
  font-style: normal;
}

a {
  text-decoration: none;
  color: white;
}

.fade-wrapper {
  transition: opacity 1.0s ease
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}